.base {
  appearance: none;
  cursor: pointer;
}
.base:focus {
  outline: none;
}
a.base {
  display: inline-block;
}

.base + .base {
  margin-left: 10px;
}

.primary {
  position: relative;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  color: var(--button-primary-color);
  background: var(--button-primary-background);
  border: 1px solid var(--button-primary-border);
  box-shadow: -2px 2px 0 0 var(--button-primary-border);
  text-transform: uppercase;
}
.primary:not(:disabled):hover,
.primary:not(:disabled):focus {
  top: -1px;
  left: 1px;
  box-shadow: -3px 3px 0 0 var(--button-primary-border);
}
.primary:not(:disabled):active {
  top: 1px;
  left: -1px;
  box-shadow: none;
}

.link {
  background: none;
  border: none;
  text-decoration: underline;
}

.loading {
}

.disabled {
  cursor: default;
  color: var(--button-disabled-color);
  background: var(--button-disabled-background);
  border: 1px solid var(--button-disabled-border);
  box-shadow: -2px 2px 0 0 var(--button-disabled-border);
}
