.container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  appearance: none;
  text-align: left;
  background: var(--button-backgroud);
  border: none;
  display: block;
  width: 100%;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
}
.button:hover {
  background: #eee;
}
