table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

.td,
.th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

.thead {
  border-bottom: 1px solid #dbdbdb;
  border-bottom: 1px solid var(--border);
}

.tfoot {
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid var(--border);
}

.tbody .tr:nth-child(even) {
  background-color: #efefef;
  background-color: var(--background);
}
