@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
  --card-background: #fff;
  --card-border: #000;

  --input-border: #000;
  --input-disabled: #888;

  --button-primary-color: #000;
  --button-primary-background: #fff;
  --button-primary-border: #000;

  --button-disabled-color: #888;
  --button-disabled-background: #fff;
  --button-disabled-border: #888;
}

body {
  font-family: 'Source Code Pro', monospace;
  background: url('./assets/bg.png');
  image-rendering: pixelated;
}
