/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
